@page
@model T.Pages.IndexModel
@{
    Layout = "_Layout";
}

<style>
    body {
        background-color: #050510;
    }

    .centeredText {
        text-align: center;
        color: #FFFFFF;
    }
</style>

@{
    for (int i = 0; i < 35; i++)
    {
        <h2 class="centeredText">Get your ass outta here.</h2>
    }
}